/******************************
 **        viewer.css        **
 ******************************/
 
* {	/* Prevents entire web page from being selectable */
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

	/* Default font */
	font-family: Montserrat, sans-serif;

	/* Never show the "text-select" cursor when hovering over text */
	cursor:default;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Fonts/MontserratRegular.woff2') format('woff2'); /* Super Modern Browsers */
}

body {
	color: black;
	/* background: #464646; */
	background: #464646; /**/

}

/*
.customScrollBar1::-webkit-scrollbar {
	height: 5px;
	width: 10px;
	background: linear-gradient(#464646, #ffa811, #464646);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.customScrollBar1::-webkit-scrollbar-thumb {
	background: #1a1a1a;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, .75);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
} */


/* Header */

#headerDiv{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
}

#logoDiv{
	text-align: center;
	height: 100px;
	line-height: 100px;
	background: #464646; /* Old browsers */
	background: -moz-linear-gradient(top,  #464646 0%, #1a1a1a 100%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #464646 0%,#1a1a1a 100%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: url('../images/dark_bg.png') repeat, linear-gradient(to bottom,  #464646 0%,#1a1a1a 100%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

}

#mediaTypeSelector{
	position: fixed;
	top: 0;
	left: 5;
}

#mediaTypeSelector > img{
	border-color: transparent;
	border-style: solid;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	height: 25px;
}

.mediaTypeTabSelected{
	background: #1a1a1a;
}

.mediaTypeTabUnselected:hover{
	background: #2d2d2d;
}


/* Video Player */

#videoPlayer{
	background: url('../images/dark_bg.png') repeat, #1a1a1a;
	position: fixed;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 150px;
	color: #ffa911;/*color: transparent;*/
}

#currentVideo{
	width: 100%;
	height: 100%;
}

#currentVideoMessage{
	position: fixed;
	top: 100px;
	left: 15px;
}

#emptyVideoMessage{
	color: #ffa811;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
}


/* Video Selector */

#videoSelector{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 150px;
}

#videoTabsDiv{
	width: 100%;
	height: 140px;
	background: #464646;
	display: flex;
	align-items: flex-end;
}

/* Movie Selector */

.videoTab{
	background-color: transparent;
	width: 90px;
	height: 120px;
	padding: 3px;
}

.videoTab:hover{
	background-color: #ffa811;
	width: 96px;
	height: 128px;
}

ul.videoImages {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	width: 100%;
	overflow-x: auto;
	background-color: #464646;
	list-style-type: none;
}

ul.videoImages li {
	display: inline;
	width: 120px;
	height: 150px;
}



/* TV Show Episode View */

#tvShowEpisodeView{
	margin-left: 150px;
	display: block;
	overflow-y: hidden;
}

.episodeViewCover{
	width: 95px;
	height: 127px;
	padding-left: 43px;
}


#exitEpisodeViewButton{
	height: 25px;
	width: 25px;
	position: fixed;
	margin-left: 5px;
	border-style: solid;
	border-radius: 30px;
	border-color: transparent;
}

#exitEpisodeViewBUtton:hover{
	border-color: #ffa811;
}

#tvShowEpisodeViewCover{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 138px;
	width: 150px;
}

#tvShowEpisodeViewTitle{
	color: #ffa811;
	position: fixed;
	bottom: 0;
	margin-bottom: 115px;
	left: 150px;
	height: 20px;
	border-color: transparent;
	border-style: solid;
	border-radius: 9px;
	overflow: hidden;
}

ul.tvShowEpisodeViewTabs{
	margin: 0;
	padding: 0;
	white-space: nowrap;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	list-style-type: none;
	border-color: #1A1A1A;
	background: #1A1A1A;
	border-style: solid;
	/*border-radius: 9px;*/
}

ul.tvShowEpisodeViewTabs li {
	display: inline-block;
	vertical-align: middle;
	height: 100px;
	width: 150px;
}

.tvShowEpisodeViewTabSeason{
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	color: #ffa811;
	overflow: hidden;
}

.tvShowEpisodeViewTabEpisode{
	width: auto;
	font-size: 13px;
	height: 13px;
	line-height: 13px;
	color: #ffa811;
	border-style: solid;
	border-radius: 8px;
	border-color: transparent;
	overflow: hidden;
}

.tvShowEpisodeViewTabEpisode:hover{
	background-color: #464646;
}